---
import Datetime from "../../common/Datetime";

type Props = {
  image: string;
  title: string;
  date: string;
  description: string;
  tags: string;
  postId: string;
};

const { image, title, date, description, tags, postId } = Astro.props as Props;
const href = postId.startsWith("https://")
  ? `${postId}`
  : `/updates/news-blogs/${postId}`;
---

<article class="relative isolate flex flex-col gap-8 lg:flex-row">
  <a href={href}>
    <div
      class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0"
    >
      <img
        src={image}
        alt=""
        class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover"
      />
      <div
        class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
      >
      </div>
    </div>
    <div>
      <div class="flex items-center gap-x-4 text-xs">
        <!-- <time class="text-gray-500">{date}</time> -->
        <Datetime pubDatetime={date} />

        <p
          class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
        >
          {tags}
        </p>
      </div>
      <div class="group relative max-w-xl">
        <h3
          class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
        >
          <a href={href}>
            <span class="absolute inset-0"></span>
            {title}
          </a>
        </h3>
        <p class="mt-5 text-sm leading-6 text-gray-600">
          {description}
        </p>
      </div>
    </div>
  </a>
</article>
